*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav{
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#nav > div {
    display: flex;

}

#nav a {
 text-decoration: none;
 color: green;
 font-size: 30px;
}
input, select{
    display: block;
    margin: 15px 0px;
    font-size: 10px;
    padding: 1%;
}
form{
    width: 400px;
    margin: 3% auto;
    padding: 2%;
}
